:root {
    --font-family-heading: "Anton", sans-serif;
    --font-family-body: "Noto Sans JP", sans-serif;
  
    --color-white: #fffefc;
    --color-black: #020911;
    --color-accent-red: #f20574;
    --color-accent-yellow: #f2e52e;
    --color-background-black: #171525;
    --color-background-navy: #030427;
    --color-form-background-yellow: #fffab9;
    --color-form-placeholder-gray: #ad9783;
    --color-form-border-red: #df6da2;
    --color-button-hover-red: #f043a5;
    --color-course-hover-yellow: #f4e877;
    --color-hero-overlay: rgba(57, 24, 111, 0.4);
    --color-course-overlay: rgba(32, 8, 19, 0.63);
  }
  /* global */
  *,
  *::before,
  *::after{
    box-sizing: border-box;
  }

  body{
    margin: 0;
    font-family: var(--font-family-body);
  }

  img{
    display: block;
  }

  /* header */
  .header{
    height: 80px;
    background-color: var(--color-background-black);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
  }

  .header-logo-wrapper{
    margin: 0;
  }

  .header-logo{
    height: 50px;
  }

  @media (max-width: 750px){
    .header{
      height: 60px;
    }
    
    .header-logo{
      height: 30px;
    }

  }

  /* hero */
  .hero{
    background-image: url("./img/hero.png");
    padding: 94px 40px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 80px;
  }

  .hero::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-hero-overlay);
  }

  .hero-container{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
  }

  .hero-texts{
    color: var(--color-accent-yellow);
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .hero-main-copy{
    font-size: 64px;
    font-family: var(--font-family-heading);
    line-height: 1;
    margin: 0;
    letter-spacing: 0.05em;
  }

  .hero-main-copy-accent{
    color: var(--color-accent-red);
  }

  .hero-sub-copy{
    margin: 0;
  }

  @media (max-width: 750px){
    .hero{
      padding: 40px 20px;
      margin-top: 60px;
    }

    .hero-container{
      display: flex;
      justify-content: flex-start;
    }

    .hero-texts{
      gap: 20px;
    }
  }

  .about{
    display: flex;
    padding: 80px 0;
    background-color: var(--color-background-black);
    justify-content: center;
    align-items: center;
  }

  .about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    gap: 40px;
  }

  .about-title-container{
    display: grid;
    place-items: center;
  }

  .about-title{
    font-family: var(--font-family-heading);
    font-size: 32px;
    letter-spacing: 0.02em;
    color: var(--color-white);
    margin: 0;
    font-weight: 400;
  }

  .about-title-accent-red{
    color: var(--color-accent-red);
  }

  .about-title-accent-yellow{
    color: var(--color-accent-yellow);
  }

  .about-texts-img-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .about-texts{
    width: 460px;
    margin: 0;
    font-family: var(--font-family-body);
    color: var(--color-white);
  }

  .about-img{
    width: 320px;
    height: 180px;
  }

  .courses{
    padding: 80px 0;
    background-color: var(--color-background-navy);
  }

  .courses-container{
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  .courses-title{    
    display: grid;
    place-items: center;
    font-family: var(--font-family-heading);
    font-weight: 400;
    font-size: 32px;
    color: var(--color-white);
    margin: 0;
  }

  .courses-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .courses-cards-item{
    background-color: var(--color-accent-yellow);
    box-shadow: 4px 4px 0px var(--color-accent-red);
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .card-item-container{
    width: 800px;
    height: 150px;
    color: var(--color-white);
    text-decoration: none;
  }

  .card-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 150px;
    background-image: url(./img/live.png);
    background-size: 250px 150px;

  }
  
  .card-title{
    margin: 0;
    width: 250px;
    height: 150px;
    text-align: center;
    line-height: 150px;
  }

  .card-text-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    height: 100%;
  }

  .card-text{
    margin: 0;
    width: auto;
    color: var(--color-black);
    /* flex-grow: 1; */
  }

  .card-item-more{
    text-align: end;
    color: var(--color-accent-red);
  }

  .courses-button-container{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 60px;
    gap: 10px;
  }

  .courses-button{
    color: var(--color-white);
    text-decoration: none;
    text-align: center;
    width: 670px;
    height: 29px;
  }
  